body {
  overflow: hidden;
  margin: 0;
}

.serverstatus {
  position: absolute;
  min-width: 10%;
  max-width: 10%;
  width: 10%;
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  background-color:  rgba(10,10,10,0.7);
  margin-top: 200px;
  margin-left: 30%;
  text-align: center;
  color: white;
  border-top: 5px solid rgb(0, 255, 0);
  border-bottom: 5px solid rgb(0, 255, 0);
  border-radius: 5px 5px 5px 5px;
  font-family:sans-serif;
}

.server-ip {
  position: absolute;
  min-width: 10%;
  max-width: 10%;
  width: 10%;
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  background-color:  rgba(10,10,10,0.7);
  margin-top: 200px;
  margin-left: 60%;
  text-align: center;
  color: white;
  border-top: 5px solid rgb(0, 255, 0);
  border-bottom: 5px solid rgb(0, 255, 0);
  font-family:sans-serif;
  border-radius: 5px 5px 5px 5px;
}

#copied {
  opacity: 0;
  position: absolute;
  color: white;
  background-color: rgba(10,10,10,0.7);
  border-bottom: 5px solid rgb(0, 255, 0);
  padding: 5px 10px 5px 10px;
  font-family: monospace;
  border-radius: 5px 5px 5px 5px;
}

#copied p {
}

#copyTarget {
  -webkit-appearance: textfield;
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 0px;
  border-width: 0;
  border-style: inset;
  border-color: none;
  border-image: none;
  font-family: sans-serif;
}

#copyButton {
  background-color: rgb(0, 255, 0);
  border: none;
  color: white;
  font-weight: bold;
  font-family: monospace;
  border-radius: 5px 5px 5px 5px;
}

#logo {
  height: 300px;
  text-align: center;
  font: 0/0 a;
}

#logo:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#logo img {
  margin-top: 150px;
  display: inline-block;
  vertical-align: middle;
  font: 16px/1 Arial sans-serif;
  top: 50%;
}

.bottom {
  background: rgba(10,10,10,0.7);
  padding-bottom: 4000px;
  margin: 0;
  border-top: 5px solid rgb(0, 255, 0);
}

.blocks {
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  text-align: center;
  font: 0/0 a;
  margin: 0 auto;
}

.blocks:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#block {
  width: 20%;
  min-width: 20%;
  min-height: 200px;
  margin: 0 20px;
  margin-top: 150px;
  background-color: rgba(10, 10, 10, 0.4);
  display: inline-block;
  vertical-align: middle;
  font: 16px/1 Arial sans-serif;
  top: 50%;
  border-radius: 5%;
  border-bottom: 5px solid rgb(0, 255, 0);
  border-top: 5px solid rgba(0, 255, 0, 0);
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

#block:hover {
  -webkit-transform:scale(1.20); /* Safari and Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* IE 9 */
  -o-transform:scale(1.20); /* Opera */
   transform:scale(1.20);
   border-top: 5px solid rgba(0, 255, 0, 1);
}

#block p {
  line-height: 150px;
  vertical-align: middle;
  font-size: 30px;
  color: white;
  font-family:sans-serif;
  font-variant: small-caps;
}

@media screen and (max-width: 1360px) {
    #copied {
      margin-left: 76% !important;
    }
    .serverstatus {
      margin-left: 25%;
    }
    .server-ip {
      margin-left: 65%;
    }
    #block {
      min-height: 150px;
    }
    #block p {
      line-height: 110px;
    }
    .blocks {
      max-height: 100px;
      height: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}

@media screen and (max-width: 1130px) {
    #copied {
      margin-left: 84% !important;
    }
    .serverstatus {
      margin-left: 18%;
      max-width: 15%;
      min-width: 15%;
    }
    .server-ip {
      margin-left: 68%;
      max-width: 15%;
      min-width: 15%;
    }
    #block {
      min-height: 150px;
      margin: 150px 5px 0 5px;
    }
    #block p {
      line-height: 110px;
      font-size: 20px;
    }
    .blocks {
      max-height: 100px;
      height: 100px;
      margin-top: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
@media screen and (max-width: 800px) {
    #copied {
      margin-left: 77% !important;
      margin-top: 260px !important;
    }
    .serverstatus {
      margin-left: 13%;
      max-width: 20%;
      min-width: 20%;
    }
    .server-ip {
      margin-left: 73%;
      max-width: 20%;
      min-width: 20%;
    }
    #block {
      min-height: 150px;
      margin: 150px 5px 0 5px;
    }
    #block p {
      line-height: 110px;
      font-size: 20px;
    }
    .blocks {
      max-height: 100px;
      height: 100px;
      margin-top: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
@media screen and (max-width: 640px) {
    #copied {
      margin-left: 64% !important;
      margin-top: 55px !important;
    }
    .serverstatus {
      margin-left: 18%;
      margin-top: 90px;
      max-width: 25%;
      min-width: 25%;
    }
    .server-ip {
      margin-left: 60%;
      margin-top: 90px;
      max-width: 25%;
      min-width: 25%;
    }
    #block {
      min-height: 150px;
      margin: 150px 5px 0 5px;
    }
    #block p {
      line-height: 110px;
      font-size: 20px;
    }
    .blocks {
      max-height: 100px;
      height: 100px;
      margin-top: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
@media screen and (max-width: 520px) {
    #copied {
      margin-left: 58% !important;
      margin-top: 55px !important;
    }
    .serverstatus {
      margin-left: 5%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    .server-ip {
      margin-left: 55%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    #block {
      min-height: 80px;
      margin: 150px 5px 0 5px;
    }
    #block p {
      line-height: 80px;
      font-size: 15px;
    }
    .blocks {
      max-height: 80px;
      height: 80px;
      margin-top: 75px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
@media screen and (max-width: 400px) {
    .serverstatus {
      margin-left: 9%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    .server-ip {
      margin-left: 50%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    #block {
      min-height: 80px;
      margin: 50px 0px 0 0px;
    }
    #block p {
      line-height: 80px;
      font-size: 12px;
    }
    .blocks {
      max-height: 80px;
      height: 80px;
      margin-top: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
@media screen and (max-width: 321px) {
    body {
      min-width: 100% !important;
      max-width: 100% !important;
      width: 100% !important;
      margin: 0;
    }
    .bottom {
      min-width: 100%;
      margin-right: 0;
    }
    .serverstatus {
      margin-left: 9%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    .server-ip {
      margin-left: 50%;
      margin-top: 90px;
      max-width: 40%;
      min-width: 40%;
    }
    #block {
      min-height: 80px;
      min-width: 23%;
      max-width: 23%;
      margin: 50px 0px 0 0px;
    }
    #block p {
      line-height: 80px;
      font-size: 12px;
    }
    .blocks {
      max-height: 80px;
      height: 80px;
      margin-top: 100px;
    }
    #copyTarget {

      text-align:left;
      margin-left: 5%;
    }
}
